body {
    background-color: #333;
    height: 100vh;
    width: 100vw;
}


body,
h1,
h2,
p,
input,
button {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top: 130px;
    left: 70px;
}

h2 {
    text-align: left;
    margin: 10px 0 15px;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}


.grid-container {
    display: grid;

    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(60, 1fr);

    width: 720px;
    height: 720px;
    order: 2;
}


/* body.screen-horizontal .grid-container  {
    height: 100vh;
    width: 100vh;
}


body.screen-vertical .grid-container  {
    height: 100vw;
    width: 100vw;
} */


.cell {
    outline: 1px solid gray;

}

.cell.dead {
    background-color: white;
}


.cell.alive {
    background-color: #333;
}

.cell:hover {
    background-color: #333;
}

.containers {
    display: flex;
    flex-direction: column;
}

button.button {
    color: white;
    border: 1px solid;
    background-color: #333;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; 
}

.buttons {
    gap: 15px;
    order: 1;
    align-items: center;
}

.buttons button {
    width: 160px;
}

.buttons button:disabled {
    background-color: rgba(255, 255, 255, 0.181);
}

.features {
    order: 3;
    gap: 25px;
}

.features .controls {
    gap: 8px;
    /* width : auto;
    height: auto; */
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 15px;
    justify-content: center;
    align-items: left;
    background-color: rgba(255, 255, 255, 0.189);
}

.controls #speed {
    width: 80%;
}


.patterns button {
    width: auto;
    height: 40px;
    margin-bottom: 5px;
}